@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 768px veya daha geniş ekran boyutlarına özel CSS kurallarını tanımlar.
Bu, responsive design (duyarlı tasarım) için kullanılır.
Ekran genişliği 768 pikselden küçük olduğunda bu kurallar uygulanmaz.  */

@media (min-width: 768px){
  body {
    /* overflow: hidden; */
  }
  
  .category::-webkit-scrollbar{
  display: none;
  }

  
}